{% extends 'base.html.twig' %}

{% block title %}Comentario{% endblock %}

{% block body %}
    <h1>Comentario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comentario.id }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ comentario.Texto }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ comentario.Fecha ? comentario.Fecha|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comentario_index') }}">back to list</a>

    <a href="{{ path('app_comentario_edit', {'id': comentario.id}) }}">edit</a>

    {{ include('comentario/_delete_form.html.twig') }}
{% endblock %}
